#articlehydrate {
    display: flex;
    align-items: center;
    position: relative;
    margin: 2rem 0 5rem 0;
}
#articlehydrate section:first-child{
    width: 45%;
    padding: 9rem 3rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    border-radius: 5px;
}
#articlehydrate section:first-child h3 {
    font-size: 2.9rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#articlehydrate section:first-child h3 span:nth-child(2){
    font-family: 'Dancing Script', cursive;
    display: block;
}
#articlehydrate section:first-child p {
    width: 26rem;
    line-height: 2;
}
#articlehydrate section:last-child img{
    width: 35rem;
    /* height: 25rem; */
}
#articlehydrate section:last-child {
    position: absolute;
    right: 7rem;
    top: 4rem;
}
