#produitsvisage {
    /* border: 2px solid red; */
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;

}
#produitsvisage .card2 {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    /* border: 2px solid yellow; */
}
#produitsvisage .card2 img {
    width: 100%;
    /* border: 2px solid green; */
    height: 18rem;
}
#produitsvisage .card2 div p {
    width: 13rem;
    text-align: center;
    font-weight: 100;
}
#produitsvisage .card2 div p:last-child{
    font-weight: 100;
    
}