#titrevisage div {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titrevisage p {
    margin: 0;
    font-size: 2.6rem;
    font-weight: bold;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
}