#pagePanier {
    font-weight: 100;
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 80%;
    margin: 2rem auto;
}
#pagePanier #title {
    font-size: 1.6rem;
}
#monPanier {
    /* border: 2px solid red; */
    width: 65%;
}
#resumeCmd {
    /* border: 2px solid blue; */
    width: 35%;
}
#monPanier div {
    /* border: 2px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#monPanier div #section1{
    width: 15rem;
}
#monPanier div img {
    width: 5rem;
    border: 2px solid rgb(239, 239, 239);
}
#total {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}
#resumeCmd #p_btn{
    background-color: rgb(92,60,68);
    padding: 0.8rem 3rem;
    cursor: pointer;
    color: whitesmoke;
    outline: none;
    width: 10rem;
    margin: auto;
    text-align: center;
}