/* #homeslider img {
    width: 100%;
    opacity: 0.6;
} */
/* #homeslider {
    background-image: url(image);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
} */
#homeslider {
    height: 30rem;
    /* background-color: rgb(84,52,46); */
}
#homeslider p {
    margin: 0;
  }