#detailProduit {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 4rem auto;
}
/* #detailProduit div:first-child {
    width: 40rem;
    height: 18rem;
    border: 2px solid red;
} */
#detailProduit div:first-child img {
    width: 25rem;
    border: 2px solid rgb(236, 232, 232);
}
#detailProduit div:last-child button {
    background-color: rgb(92,60,68);
    padding: 0.8rem 3rem;
    cursor: pointer;
    color: whitesmoke;
    outline: none;
    

}
#detailProduit div:last-child {
    /* border: 2px solid blue; */
    width: 28rem;
    /* color: rgb(8, 48, 8); */
}