a {
    text-decoration: none;
    color: whitesmoke;
}
header section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 4rem;
    /* background-color: rgb(100,68,68); */
    background-color: #111;
    /* background-color: rgb(223,204,179); */
    color: whitesmoke;
    align-items: center;
}
header section div:first-child i{
    font-size: 1.2rem;
    margin: 0 1rem;
}
header section div:last-child span {
    font-size: 1rem;
    margin: 0 1rem;
}
header section div:nth-child(2) {
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}
header nav {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    padding: 1.5rem 0;
    background-color: rgb(92,60,68);
    /* background-color: rgb(80, 48, 43); */
}
header nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: lighter;
}