#topventes {
    /* border: 2px solid yellow; */
    padding: 4rem 0;
}
#topventes p:nth-child(1){
    text-align: center;
    font-size: 1.1rem;
    
}
#topventes p:nth-child(2){
    text-align: center;
}
#topventes p:nth-child(2) span:nth-child(1){
    font-size: 3.2rem;
    font-family:serif;
    font-weight: bold;
}
#topventes p:nth-child(2) span:nth-child(2){
    font-size: 3.1rem;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;
}
#topventes .card {
    width: 10rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
#topventes .card img {
    height: 10rem;
}
#topventes #cards_container {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;

}
#topventes .card div p:first-child{
    /* border: 2px solid orange; */
    margin: 2rem 0 0 0;
}
#topventes .card div p:last-child{
    color: rgb(64, 64, 64);
    margin: 0;
    /* border: 2px solid black; */
}
#topventes a {
    display:block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.7rem 0.5rem;
    border: 2px solid black;
    text-align: center;
    width: 10%;
    margin: 0 auto 3rem;
}
#topventes a:hover{
    color: whitesmoke;
    background-color: black;
}