#liste {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#liste h3 {
    margin: 0;
}
#liste h3 span:first-child{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#liste h3 span:last-child{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
#liste p {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
}
#liste form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
#liste form input:first-child{
    width: 25rem;
    height: 2rem;
}
#liste form input:last-child{
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    color: whitesmoke;
    background-color: black;
}