#footer{
    padding:6rem 4rem;
    background-color: black;
    display: flex;
    color: whitesmoke;
    justify-content: space-evenly;
    font-family:'Times New Roman', Times, serif;
    /* align-items: center; */
}
#footer div {
    display: flex;
    flex-direction: column;
}
#footer div a {
    color: whitesmoke;
    text-decoration: none;
    line-height: 1.8;
}
#footer div h4 {
    font-size: 1.5rem;
}
#footer div span {
    line-height: 1.5;
}
#footer div:nth-child(2) span:nth-child(4){
    margin-top: 2.9rem;
}
#footer div:nth-child(3) span:nth-child(4){
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}
#footer div:nth-child(3) span:nth-child(4) i {
    font-size: 1.6rem;
}