#titrecorps {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titrecorps p {
    margin: 0;
    font-size: 2.6rem;
    font-weight: bold;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
}
#produitscorps {
    /* border: 2px solid red; */
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;

}
#produitscorps .card2 {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    /* border: 2px solid yellow; */
}
#produitscorps .card2 img {
    width: 100%;
    /* border: 2px solid green; */
    height: 18rem;
}
#produitscorps .card2 div p {
    width: 13rem;
    text-align: center;
    font-weight: 100;
}
#produitscorps .card2 div p:last-child{
    font-weight: 100;
    
}